# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
.venv.bak/

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
poetry.toml

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache/
pytest_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
# PyCharm
.idea/

# VS Code
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*.swp
*~

# Flask instance folder
instance/
