<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Редагування витрати</title>
</head>
<body>
<h1>Редагувати витрати</h1>
<form method="post">
    <label for="name">Назва</label>
    <input type="text" name="name" id="name" value="{{ spending['name'] }}" required> <br/>

    <label for="category">Категорія</label>
    <select name="category" id="category" required>
        {% for category in categories %}
            <option value="{{ category['id'] }}"
                    {% if category['id'] == spending['category_id'] %}selected{% endif %}>{{ category['name'] }}</option>
        {% endfor %}
    </select> <br/>

    <label for="amount">Сума</label>
    <input type="text" name="amount" id="amount" value="{{ spending['amount'] }}" required> <br/>

    <label for="is_spending">Тип витрати</label>
    <select name="is_spending" id="is_spending" required>
        <option value="1" {% if spending['is_spending'] %}selected{% endif %}>Витрата</option>
        <option value="0" {% if not spending['is_spending'] %}selected{% endif %}>Зарплата</option>
    </select> <br/>

    <label for="date">Дата</label>
    <input type="date" name="date" id="date" value="{{ spending['date'] }}"> <br/>

    <button type="submit">Зберегти</button>
</form>
